DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=3306

JWT_SECRET=

EXTERNAL_API_BASE_URL=
EXTERNAL_API_LOGIN_PATH=/api/login
EXTERNAL_API_EMISSIONS_PATH=/api/admin/emisiones-por-empresa
EXTERNAL_API_EMAIL=
EXTERNAL_API_PASSWORD=

FRONTEND_URL=
PUBLIC_API_URL=

PAYMENT_PROVIDER=mock
TRANSBANK_ENVIRONMENT=integration
TRANSBANK_COMMERCE_CODE=
TRANSBANK_API_KEY=
